@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Maven+Pro&family=Monda:wght@700&family=Poppins:wght@300&family=Righteous&family=Ubuntu:wght@400;500;700&display=swap');

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

